:root{
    --color-principal:#613e3e;
    --color-fondo-principal:#ffffff;
    --verde: #b0d225;
    --naranja: #da3d07;
    --gris: #ac9c83;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}